<% include ./partials/header %>

    <div id="connection-count"></div>
    <h2><%= question %></h2>

    <h3>Poll URL:</h3>
    <a href="<%= url %>"><%= url %></a>

    <h3>Poll Results:</h3>
    <div id="results">
      <% for (var option in results){ %>
        <p><%= option %>: <%= results[option]%></p>
      <% } %>
    </div>

    <h3>Poll Status:</h3>
    <div id="poll-status">
      <% if (closed) { %>
        <p>Poll Status: Closed %></p>
      <% } else { %>
        <p>Poll Status: Open %></p>
        <div id="set-time">
          Close poll in
          <input type="text" id="time-close"> minutes.
        </div>
        <p>
          OR
        </p>
        <button id="close-poll">Close Poll Now</button>
      <% } %>
    </div>

<% include ./partials/footer %>
